/*CSS by Abby Napier */

/*CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Custom Styles*/
:root {
  --lilac: #ECBEED;
  --lt-green: #53B889;
  --dk-gray: #252425;
  --dk-blue: #02126D;
  --red: #A61C28;
  --lt-blue: #0388A6;
  --white: #F2F2F2;
  --body-font: "Sansation", sans-serif;
  --header-font:  "Jua", sans-serif;
  --logo-font: "Flavors", cursive;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


body{
    width: 1280px; /*fixed width*/
    margin: 0 auto;
}

header {
    background-color: var(--lilac);  
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

p {
    font-size: 20px;
    font-family: var(--body-font);
}

h2{
    font-family: var(--header-font);
    font-size: 2rem;
}

h3{
    font-family: var(--header-font);
    font-size: 1.50rem;
}

h4{
     font-family: var(--header-font);
    font-size: 1.25rem;
}
/*logo text*/
header h1{
    font-family: var(--logo-font);
    font-size: 5rem;
    color: var(--dk-gray);
}

/*nav styles*/
nav ul{
    display: grid;
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
    justify-content: center;
    column-gap: 10px;
    margin-top: 3rem;
}

nav a{
    text-decoration: none;
    color: var(--dk-gray);
    font-family: var(--header-font);
    font-size: 20px;
    display: block;
    text-align: center;
}

nav a:hover{
    border-top: 5px solid var(--lt-green);  
     border-bottom: 5px solid var(--lt-green);     
    transition: border 0.3s ease, color 0.3s ease;
}

/*Skip Link*/
.skip-link{
  position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

body.light-mode {
  background-color: var(--white);
  color: var(--dk-gray);
}

body.dark-mode {
  background-color: var(--dk-gray);
  color: var(--white);
}

/*Light/Dark toggle*/
#light-toggle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--dk-gray);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  z-index: 1;
}

/*Dark Mode Automatic*/
@media (prefers-color-scheme: dark) {
  body:not(.light-mode):not(.dark-mode) {
    background-color: var(--dk-gray);
    color: var(--white);
  }
}

/*Light Mode Automatic*/
@media (prefers-color-scheme: light) {
  body:not(.light-mode):not(.dark-mode) {
    background-color: var(--white);
    color: var(--dk-gray);
  }
}

/*Design for the color picking table */
.color-table { 
    border-collapse: collapse; 
    margin: 10px 0; 
} 

.color-table td {
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: left;
} 

.color-table label { 
    font-weight: bold;
    margin-right: 10px;
} 

/*default splat color and size*/
#splat {
     width: 200px; 
     height: 200px; 
     background-color: #BF26A6;
    clip-path: url(#splatClip);
 }

#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    column-gap: 40px;
    margin-bottom: 30px;
}

.aboutText{
 grid-column: 2;
}

.aboutText p{
    line-height: 30px;
}

#fillers{
    background-color: var(--lt-blue);
    color: var(--white);
    box-shadow: var(--shadow);
    margin: 0 auto;
}

#fillers h2{
    text-align: center;
    padding-top: 30px;
}

#fillerList{
    font-family: var(--body-font);
    font-size: 1.5rem;
}

#fillerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#fillerListGrid{
    text-align: center;
    padding: 30px 0;
}

#fillerListGrid li{
    padding: 20px;
}

#fillerListGrid li:hover{
    cursor: pointer;
    transform: scale(1.1);    
    color: var(--lilac);
}

#fillerDisplay{
    text-align: center;
    padding: 30px 0;
}

#fillerDisplay img{
    margin: 15px 0;
     box-shadow: var(--shadow);
}