/*CSS by Abby Napier */

/*CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Custom Styles*/
:root {
  --lilac: #ECBEED;
  --lt-purple: #EEE4F2;
  --md-purple: #CAB4D9;
  --lt-green: #53B889;
  --dk-gray: #252425;
  --dk-blue: #02126D;
  --lt-pale-blue: #A7BAF2;
  --lt-blue: #0388A6;
  --white: #F2F2F2;
  --dk-pale-blue: #7D79F2;
  --md-pale-blue: #908DF2;
  --body-font: "Sansation", sans-serif;
  --header-font:  "Jua", sans-serif;
  --logo-font: "Flavors", cursive;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


body{
    width: 1280px; /*fixed width*/
    margin: 0 auto;
}

header {
    background-color: var(--lilac);  
    max-height: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

/*text sizes and fonts*/
p {
    font-size: 20px;
    font-family: var(--body-font);
}

h2{
    font-family: var(--header-font);
    font-size: 2rem;
}

h3{
    font-family: var(--header-font);
    font-size: 1.50rem;
}

h4{
    font-family: var(--header-font);
    font-size: 1.25rem;
}
/*logo text*/
header h1{
    font-family: var(--logo-font);
    font-size: 5rem;
    color: var(--dk-gray);
}

/*nav styles*/
nav ul{
    display: grid;
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
    justify-content: center;
    column-gap: 10px;
    margin-top: 3rem;
}

nav a{
    text-decoration: none;
    color: var(--dk-gray);
    font-family: var(--header-font);
    font-size: 20px;
    display: block;
    text-align: center;
}

nav a:hover{
    border-top: 5px solid var(--lt-green);  
    border-bottom: 5px solid var(--lt-green);     
    transition: border 0.3s ease, color 0.3s ease;
}

/*Skip Link*/
.skip-link{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*Light and dark modes for background*/
body.light-mode {
  background-color: var(--white);
  color: var(--dk-gray);
}

body.dark-mode #promo img{
   filter: brightness(0) invert(1);
}

body.dark-mode #promo{
    background: linear-gradient(135deg, #032613 50%, transparent 0),linear-gradient(-135deg, #004212 50%, transparent 0);
    background-size: 2em 2em;
    background-color: var(--dk-gray);
    opacity: 1;
}

body.light-mode #promo{
    background: linear-gradient(135deg, #F4FEF2 50%, transparent 0),linear-gradient(-135deg,#F5FFEF 50%, transparent 0);
    background-size: 2em 2em;
    background-color: var(--white);
    opacity: 1;
}

body.dark-mode {
  background-color: var(--dk-gray);
  color: var(--white);
}

/*Light/Dark toggle*/
#light-toggle {
  position: absolute;
  top: 0.5rem;
  right: 10rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--dk-gray);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  z-index: 1;
}

/*Design for the color picking table */
.color-table { 
    border-collapse: collapse; 
    margin: 10px 0; 
} 

.color-table td {
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: left;
} 

.color-table label { 
    font-weight: bold;
    margin-right: 10px;
} 

/*default splat color and size*/
#splat {
    width: 200px; 
    height: 200px; 
    background-color: #BF26A6;
    clip-path: url(#splatClip); /*Slime shape*/
 }

 /*about section*/
#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    column-gap: 40px;
    margin-bottom: 30px;
}

.aboutText{
    grid-column: 2;
}

.aboutText p{
    line-height: 30px;
}

/*for the fillers grid that shows all of the products*/
#fillers{
    background-color: var(--lt-blue);
    color: var(--white);
    box-shadow: var(--shadow);
    margin: 0 auto;
}

#fillers h2{
    text-align: center;
    padding-top: 30px;
}

#fillerList{
    font-family: var(--body-font);
    font-size: 1.5rem;
}

#fillerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#fillerListGrid{
    text-align: center;
    padding: 30px 0;
}

#fillerListGrid li{
    padding: 20px;
}

#fillerListGrid li:hover{
    cursor: pointer;
    transform: scale(1.1);    
    color: var(--lilac);
}

#fillerDisplay{
    text-align: center;
    padding: 30px 0;
}

#fillerDisplay img{
    margin: 15px 0;
    box-shadow: var(--shadow);
}

/*Snake eyes game used to show the discount*/
#promo{
    text-align: center;
    margin: 2rem auto;
    height: 30rem;
    width: 1000px;
    box-shadow: var(--shadow);
}
#promo h2{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#promo p{
    padding-bottom: 2rem;
}

#promo span{
    font-size: 3rem;
    font-family: var(--body-font);

}

#promo button{
    padding: 1rem 2rem;
    font-family: var(--header-font);
    font-size: 20px;
    background-color: var(--lt-blue);
    color: var(--dk-gray);
    box-shadow: var(--shadow);
    border: none;
}

#promo button:hover{
    cursor: pointer;
     box-shadow: inset 0 0 10px var(--dk-gray);
}

/*color selector section*/
#colorSelector label{
    font-family: var(--body-font);
    font-size: 20px;
}

#splat{
    margin: 0 auto;
}

.colorTable{
    margin: 1rem auto;
    
}

#splatColor{
    margin-top: 2rem;
}

/*Shopping cart and checkout area*/
#shop{
    text-align: center;
}

#shopping h3{
    text-align: center;
    margin-top: 4rem;
}


.shoppingGrid{
    display: grid;
    grid-template-columns: 680px 620px;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center; 
     
}
.shoppingCart{
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: -5rem;
    grid-row: 1/3;
    margin-left: 9rem;
}

.checkout h4{
    text-align: center;
    
}

.item1 label, .item2 label,.item3 label,.item4 label,.item5 label, .item6 label {
  display: block; 
  margin-top: 0.5rem; 
  font-size: 20px; 
  font-family: var(--body-font);
}

.shoppingCart h4{
    margin-bottom: 1rem;
}

/*checkout area*/
.checkout{
    display: grid;
    grid-template-rows: 120px 40px 40px 40px 60px 40px 40px;
}

.checkout h3{
    grid-template-rows: 1fr;
}

#cart-items{
    font-family: var(--body-font);
    font-size: 20px;
    margin-bottom: 21rem;
}

#shopping{
    border: 2px solid var(--dk-blue);
    height: 900px;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

/*css for the discount button since the output is from java*/
#discountForm{
    margin-top: -20px;
}

#discountForm label{
    font-size: 20px;
    font-family: var(--body-font);
}

#discountForm button{
    padding: .5rem;
    font-family: var(--body-font);
    font-size: 18px;
    background-color: var(--lt-green);
    color: var(--white);
    box-shadow: var(--shadow);
    border: none;
}

#discountForm button:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px var(--dk-gray);
}

/*checkout button*/
.checkout button{
    padding: .5rem;
    font-family: var(--header-font);
    font-size: 22px;
    background-color: var(--lt-green);
    color: var(--white);
    box-shadow: var(--shadow);
    border: none;
}

.checkout button:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px var(--dk-gray);
}

/*contact form*/
#contactForm{
    display: grid;
    place-items: center;
    font-size: 20px; 
    font-family: var(--body-font);
    background-color: var(--lilac);
    width: 500px;
    margin: 2rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--shadow);
    border: 2px solid var(--md-purple); 
    border-radius: 4px;
    color: var(--dk-gray);
}

#contactForm textarea{
    width: 20rem;
    height: 6rem;
    margin-bottom: 1rem;
    background-color:  var(--lt-purple);
    border: 2px solid var(--md-purple); 
    box-shadow: var(--shadow);
}

fieldset{
    padding-top:1rem;
    text-align: center;
    padding-bottom: 1rem;
}

#name, #number, #emailAd{
    margin-bottom: 1rem;
    width: 20rem;
    height: 2rem;
    background-color: var(--lt-purple);
    border: 2px solid var(--md-purple); 
    box-shadow: var(--shadow);
}

#contactForm label{
    margin-bottom: .5rem;
}

#name:focus, #number:focus, #emailAd:focus, #comment:focus{
    outline: none;
    border: 2px solid var(--lt-pale-blue); 
    box-shadow: inset 0 0 5px var(--dk-blue);
}

input[type="radio"]{
    accent-color: purple; 
}

#contactForm button{
    font-family: var(--header-font);
    font-size: 20px;
    padding: .5rem 1rem;
    box-shadow: var(--shadow);
    background-color: var(--lt-pale-blue);
    color: var(--dk-gray);
    cursor: pointer;
    border: 1px solid var(--dk-pale-blue); 
}

#contactForm button:hover{
    box-shadow: inset 0 0 5px var(--dk-blue);
    background-color: var(--md-pale-blue);
}

/*footer design*/
footer{
    background-color: var(--lt-blue);
    color: var(--white);
    padding: 4rem;
    border-radius: 3px;
    text-align: center;
}

footer h3{
    margin-bottom: 3rem;
}